:root {
  --button-primary-bg: #e7426a;
  --button-primary-bg-hover: #f45d82;
  --button-primary-text: #fff;
  --button-secondary-bg: #4e9dd3;
  --button-disabled-bg: #ededf0;
  --button-secondary-text-hover: #fff;
}
