:root {
  /* Button colors */
  --primary: #e7426a;
  --primary-hover: #f45d82;
  --secondary: #4e9dd3;
  --secondary-hover: #6aafdd;
  --white: #fff;
  --disabled: #ededf0;
  --background: #e6e6e6;
  --text-dark: #1a1a2e;
}
