@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap';
@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-white: #fff;
  --color-gray: #ededf0;
  --color-black: #1a1a2e;
  --color-pink: #ca5166;
  --color-dark: #2b1414;
  --color-purple: #49387a;
  --color-accent: #e7426a;
  --color-accent-hover: #f45d82;
  --color-primary: #f7ebe5;
  --color-secondary: #4e9dd3;
  --color-secondary-hover: #6aafdd;
  --color-background: #e6e6e6;
  --animate-visible-right: animate-visible-right 1s ease-in-out;
  --animate-hidden-right: animate-hidden-right 1s ease-in-out forwards;
  --shake-strength: 5px;
  --rotate-angle: 5deg;

  @keyframes animate-visible-right {
    0% {
      transform: translate(100%);
    }

    100% {
      transform: translate(0%);
    }
  }

  @keyframes animate-hidden-right {
    0% {
      transform: translate(0%);
    }

    100% {
      transform: translate(100%);
    }
  }
}

.shaking-img {
  transform-origin: bottom center;
  display: inline-block;
  animation: rotate 10s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(var(--rotate-angle));
  }

  55% {
    transform: rotate(calc(-1 * var(--rotate-angle)));
  }

  75% {
    transform: rotate(var(--rotate-angle));
  }

  100% {
    transform: rotate(0deg);
  }
}
